// Place your apps css here
.lists{
  padding: 0 10px;
  margin-bottom: 15px;
  .task-col{
    background: #f2f5f6;
    border: 1px solid #c3d1d6;
    padding: 15px;
    max-height: 86vh;
    overflow-y: scroll;
    ul.task-list{
      margin: 0;
      padding: 0;
      list-style: none;
      // default list style
      li.task-item{
        min-height: 45px;
        margin-bottom: 10px;
        // background-color: #c9daf8;
        border: 1px solid #b4c4df;
        position: relative;
        &:hover{
          .task-options{
            opacity: 1;
          }
        }
        .task-options{
          float: right;
          margin: 4px 7px 0 7px;
          opacity: .25;
          span.glyphicon{
            cursor: pointer;
          }
        }
        .task-text{
          min-height: 40px;
          padding: 10px 0 10px 52px;
        }
      }
      .much-fail-you-have {
        background-color: #E7B8B1;
        input {
          background: #fff;
          border-color: darken(#E7B8B1, 35%);
        }
        button.btn.btn-default {
          border-color: darken(#E7B8B1, 35%);
          &.active{
            background-color: darken(#E7B8B1, 10%);
            &:hover {
              background-color: darken(#E7B8B1, 15%);
            }
          }
          &:hover {
            background-color: darken(#E7B8B1, 10%);
          }
        }
        .task-actions,.task-checker{
          background-color: darken(#E7B8B1, 20%);
          .task-plus:hover,.task-minus:hover{
            background-color: darken(#E7B8B1, 35%);
          }
        }
      }
      .failing-harder {
        background-color: #F4CCCC;
        input {
          background: #fff;
          border-color: darken(#F4CCCC, 35%);
        }
        button.btn.btn-default {
          border-color: darken(#F4CCCC, 35%);
          &.active{
            background-color: darken(#F4CCCC, 10%);
            &:hover {
              background-color: darken(#F4CCCC, 15%);
            }
          }
          &:hover {
            background-color: darken(#F4CCCC, 10%);
          }
        }
        .task-actions,.task-checker{
          background-color: darken(#F4CCCC, 20%);
          .task-plus:hover,.task-minus:hover{
            background-color: darken(#F4CCCC, 35%);
          }
        }
      }
      .failing {
        background-color: #FDE5D0;
        input {
          background: #fff;
          border-color: darken(#FDE5D0, 35%);
        }
        button.btn.btn-default {
          border-color: darken(#FDE5D0, 35%);
          &.active{
            background-color: darken(#FDE5D0, 10%);
            &:hover {
              background-color: darken(#FDE5D0, 15%);
            }
          }
          &:hover {
            background-color: darken(#FDE5D0, 10%);
          }
        }
        .task-actions,.task-checker{
          background-color: darken(#FDE5D0, 20%);
          .task-plus:hover,.task-minus:hover{
            background-color: darken(#FDE5D0, 35%);
          }
        }
      }
      .neutral-like-switzerland {
        background-color: #FFF2D1;
        input {
          background: #fff;
          border-color: darken(#FFF2D1, 35%);
        }
        button.btn.btn-default {
          border-color: darken(#FFF2D1, 35%);
          &.active{
            background-color: darken(#FFF2D1, 10%);
            &:hover {
              background-color: darken(#FFF2D1, 15%);
            }
          }
          &:hover {
            background-color: darken(#FFF2D1, 10%);
          }
        }
        .task-actions,.task-checker{
          background-color: darken(#FFF2D1, 20%);
          .task-plus:hover,.task-minus:hover{
            background-color: darken(#FFF2D1, 35%);
          }
        }
      }
      .passing {
        background-color: #D8EAD4;
        input {
          background: #fff;
          border-color: darken(#D8EAD4, 35%);
        }
        button.btn.btn-default {
          border-color: darken(#D8EAD4, 35%);
          &.active{
            background-color: darken(#D8EAD4, 10%);
            &:hover {
              background-color: darken(#D8EAD4, 15%);
            }
          }
          &:hover {
            background-color: darken(#D8EAD4, 10%);
          }
        }
        .task-actions,.task-checker{
          background-color: darken(#D8EAD4, 20%);
          .task-plus:hover,.task-minus:hover{
            background-color: darken(#D8EAD4, 35%);
          }
        }
      }
      .passing-like-a-boss {
        background-color: #D1E0E3;
        input {
          background: #fff;
          border-color: darken(#D1E0E3, 35%);
        }
        button.btn.btn-default {
          border-color: darken(#D1E0E3, 35%);
          &.active{
            background-color: darken(#D1E0E3, 10%);
            &:hover {
              background-color: darken(#D1E0E3, 15%);
            }
          }
          &:hover {
            background-color: darken(#D1E0E3, 10%);
          }
        }
        .task-actions,.task-checker{
          background-color: darken(#D1E0E3, 20%);
          .task-plus:hover,.task-minus:hover{
            background-color: darken(#D1E0E3, 35%);
          }
        }
      }
      .u-so-good {
        background-color: #C9DAF5;
        input {
          background: #fff;
          border-color: darken(#C9DAF5, 35%);
        }
        button.btn.btn-default {
          border-color: darken(#C9DAF5, 35%);
          &.active{
            background-color: darken(#C9DAF5, 10%);
            &:hover {
              background-color: darken(#C9DAF5, 15%);
            }
          }
          &:hover {
            background-color: darken(#C9DAF5, 10%);
          }
        }
        .task-actions,.task-checker{
          background-color: darken(#C9DAF5, 20%);
          .task-plus:hover,.task-minus:hover{
            background-color: darken(#C9DAF5, 35%);
          }
        }
      }

    }
  }
}

.task-controls{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  float: none;
  margin: 0;
  display: inline-block;
  .task-actions{
    background-color: #5288e9;
    position: relative;
    width: 3em;
    height: 100%;
    .task-plus,.task-minus{
      height: 50%;
      display: block;
      width: 100%;
      position: relative;
      span{
        position: absolute;
        margin: auto;
        height: 1em;
        width: 1em;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: #333;
        font-size: 10px;
      }
    }
    .task-minus{
      border-top: 1px solid #333;
    }
  }
}

.daily-edit-block {
  position: relative;
  height: 300px;
  border-top: 1px solid #c3d1d6;
  margin-top: 5px;
  padding: 20px;
  .task-difficulty {
    width: 100%;
    button.btn {
      width: 32.41%;
    }
  }
  .task-save {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    button {
      width: 100%;
    }
  }
}

.task-controls .task-checker{
  position: relative;
  width: 3em;
  height: 100%;
  max-height: 45px;
  a.uncompleted{
    font-size: 14px;
    span.uncompleted{
      top:28%;
      right: 32%;
    }
    &:hover{
      font-size: 24px;
      span.uncompleted{
        top:10%;
        right: 20%;
      }
    }
  }
  a.completed{
    font-size: 24px;
    // text-align: center;
    span.completed{
      top:10%;
      right: 20%;
    }
  }
  a{
    // background-color: #5288e9;
    height: 100%;
    display: block;
    width: 100%;
    position: relative;
    text-decoration: none;
    color: #000;
    span{
      position: absolute;
      font-family: Glyphicons Halflings;
    }
    .uncompleted:before{
      opacity: .6;
      content: "\E157";
    }
    .completed:before{
      content: "\E013";
    }
  }
  a:hover .uncompleted:before{
    opacity: 1;
    content: "\E013";
  }
  a:hover .completed:before{
    content: "\E014";
  }
}
// scrollbar styles just cuz why not
.task-col::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

.task-col::-webkit-scrollbar-thumb {
  border-width: 0 1px 0 6px;
}

.task-col::-webkit-scrollbar-thumb {
  background-color: rgba(150,150,150,.2);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(150,150,150,.1),inset 0 -1px 0 rgba(150,150,150,.07);
  box-shadow: inset 1px 1px 0 rgba(150,150,150,.1),inset 0 -1px 0 rgba(150,150,150,.07);
}

.task-column::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}



