.lists{
  padding: 0 10px;
  margin-bottom: 15px;
  .task-col{
    background: #f2f5f6;
    border: 1px solid #c3d1d6;
    padding: 15px;
    max-height: 86vh;
    overflow-y: scroll;
    ul.task-list{
      margin: 0;
      padding: 0;
      list-style: none;
      // default list style
      li.task-item{
        min-height: 45px;
        margin-bottom: 10px;
        // background-color: #c9daf8;
        border: 1px solid #b4c4df;
        position: relative;
        &:hover{
          .task-options{
            opacity: 1;
          }
        }
        .task-options{
          float: right;
          margin: 4px 7px 0 7px;
          opacity: .25;
          span.glyphicon{
            cursor: pointer;
          }
        }
        .task-text{
          min-height: 40px;
          padding: 10px 0 10px 52px;
        }
      }
      li.much-fail-you-have{
        background-color: #E7B8B1;
        .task-actions,.task-checker{
          background-color: darken(#E7B8B1, 20%);
          .task-plus:hover,.task-minus:hover{
            background-color: darken(#E7B8B1, 35%);
          }
        }
      }
      li.failing-harder{
        background-color: #F4CCCC;
        .task-actions,.task-checker{
          background-color: darken(#F4CCCC, 20%);
          .task-plus:hover,.task-minus:hover{
            background-color: darken(#F4CCCC, 35%);
          }
        }
      }
      li.failing{
        background-color: #FDE5D0;
        .task-actions,.task-checker{
          background-color: darken(#FDE5D0, 20%);
          .task-plus:hover,.task-minus:hover{
            background-color: darken(#FDE5D0, 35%);
          }
        }
      }
      li.neutral-like-switzerland{
        background-color: #FFF2D1;
        .task-actions,.task-checker{
          background-color: darken(#FFF2D1, 20%);
          .task-plus:hover,.task-minus:hover{
            background-color: darken(#FFF2D1, 35%);
          }
        }
      }
      li.passing{
        background-color: #D8EAD4;
        .task-actions,.task-checker{
          background-color: darken(#D8EAD4, 20%);
          .task-plus:hover,.task-minus:hover{
            background-color: darken(#D8EAD4, 35%);
          }
        }
      }
      li.passing-like-a-boss{
        background-color: #D1E0E3;
        .task-actions,.task-checker{
          background-color: darken(#D1E0E3, 20%);
          .task-plus:hover,.task-minus:hover{
            background-color: darken(#D1E0E3, 35%);
          }
        }
      }
      li.u-so-good{
        background-color: #C9DAF5;
        .task-actions,.task-checker{
          background-color: darken(#C9DAF5, 20%);
          .task-plus:hover,.task-minus:hover{
            background-color: darken(#C9DAF5, 35%);
          }
        }
      }
      li.completed-task{
        background-color: #d9d9d9 !important;
        color: #989898;
        .task-actions,.task-checker{
          background-color: #989898 !important;
        }
      }
    }
  }
}
