<:Title>
  Teams

<:Body>
  <h1>Teams {{ _name }} page</h1>

  <p>Put a list of task here that belong to a team... and create new tasks.</p>
  <div>
  <p>{{_tasks[0]}}</p>
    <table class="table tasks-table">
      {{ _tasks.each do |task| }}
        <tr>
          <td>{{ task._name }}</td>
        </tr>
      {{ end }}
    </table>

    <form e-submit="add_task" role="form">
      <div class="form-group">
         <label>Add A Task:</label>
         <input class="form-control" type="text" value="{{ page._new_task_name }}" >
      </div>
    </form>
  </div>
