<:Title>
  Teams

<:Body>
  <h1>Teams {{ _name }} page</h1>
  <p>Put a list of task here that belong to a team... and create new tasks.</p>
  {{ model.inspect }}
  {{ page._new_task_repeatable = 'hello'}}
  <p>{{ page._new_task_repeatable }}</p>
  <p>{{ {name: page._new_task_repeatable, task_type: "repeatable"} }}</p>
  <p>_task</p>
  <p>{{ _tasks }}</p>
  <p>self._task is the same</p>
  <p>{{ self._tasks }}</p>
  <p>model._task is the same</p>
  <p>{{ model._tasks }}</p>
  <h3>self.model._task is the same</h3>
  <p>{{ self.model._tasks }}</p>
  <h3>model._tasks.inspect inspection on its own will returnVolt::ArrayModel:not loaded, access with [] or size to load </h3>
  <p>{{ model._tasks.inspect }}</p>
  <h3>model._tasks.buffer.inspect will return Volt::Model:734 {}</h3>
  <p>{{ model._tasks.buffer.inspect }}</p>
  <h3>model._tasks.buffer.size will return 0 and is stupid but maybe is the size of teh current buffer?</h3>
  <p>{{ model._tasks.buffer.size }}</p>
  <h1>model._tasks.size will load everything </h1>
  <p>{{ model._tasks.size }}</p>

  <div class="row">
    <div class='lists col-sm-12 col-md-6 col-lg-4'>
      <div class="task-col repeatable" >
        <h2>Repeatable</h2>
        <form e-submit="add_task_repeatable" role="form">
          <div class="form-group">
             <input class="form-control" type="text" value="{{ page._new_task_repeatable }}" placeholder="New Repeatable Task" >
          </div>
        </form>
        <ul class='task-list repeatable-list'>
          {{ model._tasks.find({ task_type: 'repeatable'}).each do |task| }}
            <li class='task-item'>
              <div class='task-options'>
                <!-- <span e-click="remove_task(task)" class='glyphicon glyphicon-remove'></span> -->
              </div>
              <div class='task-text'>
                {{ task._name }}
              </div>
            </li>
          {{ end }}
        </ul>
        {{if model._tasks.find({ task_type: 'repeatable'}).size >= 10 }}
          <form e-submit="add_task_repeatable" role="form">
            <div class="form-group">
               <input class="form-control" type="text" value="{{ page._new_task_repeatable }}" placeholder="New Repeatable Task" >
            </div>
          </form>
        {{ end }}
      </div>
    </div>

<!--     <div class='lists col-sm-12 col-md-6 col-lg-4'>
      <div class="task-col daily" >
        <h2>Daily</h2>
        <form e-submit="add_task_daily" role="form">
          <div class="form-group">
             <input class="form-control" type="text" value="{{ page._new_task_daily }}" placeholder="New Daily Task" >
          </div>
        </form>
        <ul class='task-list daily-list'>
          {{ model._tasks.find({ task_type: 'daily'}).each do |task| }}
            <li class='task-item'>
              <div class='task-options'>
                <span e-click="remove_task(task)" class='glyphicon glyphicon-remove'></span>
              </div>
              <div class='task-text'>
                {{ task._name }}
              </div>
            </li>
          {{ end }}
        </ul>
        {{if model._tasks.find({ task_type: 'daily'}).size >= 10 }}
          <form e-submit="add_task_daily" role="form">
            <div class="form-group">
               <input class="form-control" type="text" value="{{ page._new_task_daily }}" placeholder="New Daily Task" >
            </div>
          </form>
        {{ end }}
      </div>
    </div>

    <div class='lists col-sm-12 col-md-6 col-lg-4'>
      <div class="task-col repeatable" >
        <h2>Todo</h2>
        <form e-submit="add_task_todo" role="form">
          <div class="form-group">
             <input class="form-control" type="text" value="{{ page._new_task_todo }}" placeholder="New Todo Task" >
          </div>
        </form>
        <ul class='task-list todo-list'>
          {{ model._tasks.find({ task_type: 'todo'}).each do |task| }}
            <li class='task-item'>
              <div class='task-options'>
                <span e-click="remove_task(task)" class='glyphicon glyphicon-remove'></span>
              </div>
              <div class='task-text'>
                {{ task._name }}
              </div>
            </li>
          {{ end }}
        </ul>
        {{if model._tasks.find({ task_type: 'todo'}).size >= 10 }}
          <form e-submit="add_task_todo" role="form">
            <div class="form-group">
               <input class="form-control" type="text" value="{{ page._new_task_todo }}" placeholder="New Todo Task" >
            </div>
          </form>
        {{ end }}
      </div>
    </div> -->
  </div>


