<:Title>
  Teams

<:Body>
  <h1>Teams index page</h1>

  <p>Put a list of teams here... and create new teams.</p>
  <div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Teams</th>
        </tr>
      </thead>
      <tbody>
        {{ _teams.each do |team| }}
          <tr>
            <td><a href="/teams/{{ team._id }}">{{ team._name }}</a></td>
            <td><span e-click="remove_team(team)" class='glyphicon glyphicon-remove'></span></td>
          </tr>
        {{ end }}
      </tbody>
    </table>

    <form e-submit="add_team" role="form">
      <div class="form-group">
         <label>Add A Team:</label>
         <input class="form-control" type="text" value="{{ page._new_team._name }}" />
      </div>
    </form>
  </div>

