<h2>{{ _dailys.size }} Daily Task{{ if _dailys.size > 1 }}s{{ end }}</h2>
<form e-submit="add_daily" role="form">
  <div class="form-group">
     <input class="form-control" type="text" value="{{ page._daily_name }}" placeholder="New Daily Task" >
  </div>
</form>

<ul class='task-list daily-list'>
  {{ _dailys.each do |daily| }}
    <li class='task-item {{ set_score_class_name(daily) }} {{ daily.score_class_name }} {{ "completed-task" if daily.completed == true }} '>

      <div class='task-options'>
        <span e-click="editing_daily(daily)" class="glyphicon glyphicon-pencil"></span>
        <span e-click="remove_daily(daily)" class='glyphicon glyphicon-remove'></span>
      </div>

      <div class='task-controls'>
        <div class="daily task-checker">
          {{ if daily.completed }}
            <a e-click="daliy_uncompleted(daily)" class="completed daily-checkbox"><span class="completed"></span></a>
          {{ else }}
            <a e-click="daliy_completed(daily)" class="daily-checkbox uncompleted"><span class="uncompleted"></span></a>
          {{ end }}
        </div>
      </div>

      <div class='task-text'>
        {{ if daily.editing == true}}
          {{ page._task_name }}
        {{ else }}
          {{ daily.name }}
        {{ end }}
      </div>

      {{ if daily.editing == true}}
        <div class="daily-edit-block">

          <div class="task-name">
            <h5>Name:</h5>
            <form role="form">
              <div class="form-group">
                 <input class="form-control {{ daily.score_class_name }}" type="text" value="{{ page._task_name }}" placeholder="New Daily Task" >
              </div>
            </form>
          </div>

          <div class="task-difficulty">
            <h5>Difficulty:</h5>
            <button
              class="btn btn-default {{ 'active' if current_difficulty(daily, 1) }} {{ daily.score_class_name }}"
              e-click="set_daily_difficulty(daily, 1)">
              Easy
            </button>
            <button
              class="btn btn-default {{ 'active' if current_difficulty(daily, 2) }} {{ daily.score_class_name }}"
              e-click="set_daily_difficulty(daily, 2)">
              Medium
            </button>
            <button
              class="btn btn-default {{ 'active' if current_difficulty(daily, 3) }} {{ daily.score_class_name }}"
              e-click="set_daily_difficulty(daily, 3)">
              Hard
            </button>
          </div>

          <div class="text-center task-save">
            <button class="btn btn-default active {{ daily.score_class_name }}" e-click="save_daily(daily)">Save &amp; Close</button>
          </div>

        </div>
      {{ end }}

    </li>
  {{ end }}
</ul>

{{if _dailys.size >= 10 }}
  <form e-submit="add_daily" role="form">
    <div class="form-group">
       <input class="form-control" type="text" value="{{ page._daily_name }}" placeholder="New Daily Task" >
    </div>
  </form>
{{ end }}
