<h2>{{ _dailys.size }} Daily</h2>
<form e-submit="add_daily" role="form">
  <div class="form-group">
     <input class="form-control" type="text" value="{{ page._daily_name }}" placeholder="New Daily Task" >
  </div>
</form>

<ul class='task-list daily-list'>
  {{ _dailys.each do |daily| }}
    <li class='task-item'>
      <div class='task-options'>
        <span e-click="remove_daily(daily)" class='glyphicon glyphicon-remove'></span>
      </div>
      <div class='task-text'>
        {{ daily.name }}
      </div>
    </li>
  {{ end }}
</ul>

{{if _dailys.size >= 10 }}
  <form e-submit="add_daily" role="form">
    <div class="form-group">
       <input class="form-control" type="text" value="{{ page._daily_name }}" placeholder="New Daily Task" >
    </div>
  </form>
{{ end }}
