<h2>{{ _repeatables.size }} Repeatable Task{{ if _repeatables.size > 1 }}s{{ end }}</h2>
<form e-submit="add_repeatable" role="form">
  <div class="form-group">
     <input class="form-control" type="text" value="{{ page._repeatable_name }}" placeholder="New Repeatable Task" >
  </div>
</form>

<ul class='task-list repeatable-list'>
  {{ _repeatables.each do |repeat| }}
    <li class='task-item repeatable {{ set_score_class_name(repeat) }} {{ repeat.score_class_name }}'>
      <div class='task-options'>
        <span e-click="remove_repeat(repeat)" class='glyphicon glyphicon-remove'></span>
      </div>
      <div class='task-controls'>
        <div class="task-actions">
          <a e-click="did_positive_task(repeat)" class="task-plus"><span class="plus glyphicon glyphicon-plus" ></span></a>
          <a e-click="did_negative_task(repeat)" class="task-minus"><span class="minus glyphicon glyphicon-minus" ></span></a>
        </div>
      </div>
      <div class='task-text'>
        {{ repeat.name }}
      </div>
    </li>
  {{ end }}
</ul>

{{if _repeatables.size >= 10 }}
  <form e-submit="add_repeatable" role="form">
    <div class="form-group">
       <input class="form-control" type="text" value="{{ page._repeatable_name }}" placeholder="New Repeatable Task" >
    </div>
  </form>
{{ end }}

