<:Title>
  {{ if loaded? }}
    {{ name }}
  {{ end }}

<:Body>

  <:dashboard model="{{ self.model }}"/>

  <div class="dashboard-spacer">
    <div class="row">
      <div class='lists col-sm-12 col-md-6 col-lg-4'>
        <div class="task-col repeatable" >
          <:repeatable model="{{ self.model }}" />
        </div>
      </div>
      <div class='lists col-sm-12 col-md-6 col-lg-4'>
        <div class="task-col daily" >
          <:daily model="{{ self.model }}" />
        </div>
      </div>

      <div class='lists col-sm-12 col-md-6 col-lg-4'>
        <div class="task-col todo" >
          <:todo model="{{ self.model }}" />
        </div>
      </div>

    </div>
  </div>
  <div>
    <a e-click="end_of_day(self.model)" class="end_of_day pull-right btn btn-warning">End Day</a>
  </div>
