<h2>{{ to_do_incomplete_count}} ToDo</h2>
<form e-submit="add_todo" role="form">
  <div class="form-group">
     <input class="form-control" type="text" value="{{ page._todo_name }}" placeholder="New ToDo Task" >
  </div>
</form>

<ul class='task-list todo-list'>
  {{ _todos.each do |todo| }}
    {{ if !todo.completed }}
      <li class='task-item {{ set_score_class_name(todo) }} {{ todo.score_class_name }}'>
        <div class='task-options'>
          <span e-click="remove_todo(todo)" class='glyphicon glyphicon-remove'></span>
        </div>
        <div class='task-controls'>
          <div class="todo task-checker">
            <a e-click="todo_completed(todo)" class="todo-checkbox uncompleted"><span class="uncompleted"></span></a>
          </div>
        </div>
        <div class='task-text'>
          {{ todo.name }}
        </div>
      </li>
    {{ end }}
  {{ end }}
</ul>

{{ if to_do_incomplete_count >= 10 }}
  <form e-submit="add_todo" role="form">
    <div class="form-group">
       <input class="form-control" type="text" value="{{ page._todo_name }}" placeholder="New Todo Task" >
    </div>
  </form>
{{ end }}


